#content .order-item {
    width: 990px;
    margin: 10px auto 0 auto;
}

.info-box {
    border: 1px solid #ddd;
    padding: 20px 0 20px 20px;
}
.info-box .pic-box {
    width: 600px;
    height: 360px;
    position: relative;
    z-index: 10;
    float: left;
}

.info-box .meta {
    position: relative;
    height: 360px;
    padding-left: 60px;
    width: 300px;
    float: left;
    padding-top: 0;
    z-index: 20;
    font-family: "Microsoft Yahei","Arial","Verda","tahoma";
}

.info-box .meta .actualPrice {
    font-size: 48px;
    color: #d70000;
    height: 48px;
    line-height: 48px;
    margin: 5px 0;
}
.info-box .meta .actualPrice em{
    font-size: 24px;
    color: #666;
}
.info-box .meta .actualPrice span {
    font-size: 24px;
}

.info-box .meta .listPrice {
    font-size: 12px;
    color: #333;
    height: 24px;
    line-height: 20px;
    padding-bottom: 4px;
}
.info-box .meta .listPrice del {
    margin-right: 5px;
}

.info-box .meta .orders {
    font-size: 14px;
    color: #333;
    height: 30px;
    line-height: 20px;
}

.info-box .meta .orderNow {
    margin: 5px 0;
}
.info-box .meta .orderNow a {
    height: 37px;
    line-height: 37px;
    width: 128px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    text-indent: -300px;
    overflow: hidden;
    float: left;
    color: white;
    cursor: pointer;
    text-decoration: none;
    background: url("http://img02.taobaocdn.com/tps/i2/T1QguTXcBvXXXXXXXX-128-60.png") no-repeat 0 -23px #e7a46b;
    text-shadow: 0 0 0 transparent,1px 1px 1px #75491e;
    outline: none;
}

.info-box .meta .share {
    margin: 10px 0;
}
.info-box .meta .share input,
.info-box .meta .share span,
.info-box .meta .share img {
    float: left;
}
.info-box .meta .share input {
    border: 1px solid #e7e7e7;
    height: 20px;
    width: 130px;
    line-height: 20px;
    color: #e7e7e7;
    float: left;
}

.info-box .meta .share span{
    float: left;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from( #f9fcfd),to( #ffe5cf));
    height: 19px;
    display: inline-block;
    line-height: 19px;
    padding: 0 5px;
    border: 1px solid #fcd7b8;
    margin: 0 0 0 10px;
}

.info-box .meta .share img{
    margin: 0 0 0 10px;
    cursor: pointer;
}


.info-detail {
    border: 1px solid #DDDDDD;
    border-top: none;
    padding: 20px;
}