#content .order-group {
    width: 990px;
    margin: 0 auto;
}

#content .order-group ul li {
    float: left;
    font-size: 0;
}

#content .order-group ul li a {
    position: relative;
    width: 495px;
    height: 450px;
    text-decoration: none;
}
#content .order-group ul li a span {
    font-family: "Microsoft Yahei","Arial","Verda","tahoma";
    position: absolute;
    top: -183px;
    left: 61px;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    color: #fff;
    z-index: 99;
    padding: 0 15px 0 5px;
    background:url("http://img01.taobaocdn.com/tps/i1/T1Y1eUXfXfXXXXXXXX-10-260.png") no-repeat 82px -193px #000;
}
#content .order-group ul li a:hover span {
   background-color: #d70000;
}
