/*common START*/
.bgc-ded8cf {
    background-color: #ded8cf;
}

.font-463d36 {
    color: #463d36;
}

.font-ae000b {
    color: #ae000b;
}

.font-666 {
    color: #666;
}

.font-333 {
    color: #333;
}

.ml-8px {
    margin-left: 8px;
}

.font-32px {
    font-size: 34px;
}

.font-29px {
    font-size: 29px;
}

.font-14px {
    font-size: 14px;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.of-hidden {
    overflow: hidden;
}

.left {
    float: left;
}

.text-left {
    text-align: left;
}

/*clearfix*/
.clearfix {
    zoom: 1
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
}

.mask-layer {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
}

.mask .mask-layer {
    background: none repeat 0 0 #000000;
}

.rmb {
    font-family: Arial;
}

/*common END*/
#page, #content, #header, #footer, #logo, #header .wrapper, .main-nav {
    margin: 0 auto;
}


/* banner start */
#content .banner {
    border-bottom: 1px solid #ccc;
    height: 49px;
    margin: 0 auto;
}

#content .banner-con {
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    height: 49px;
}

#content .banner-con img.customize {
    padding: 10px 0 0 10px;
}

#content .banner-con span {
    font-size: 30px;
    height: 49px;
    line-height: 49px;
    display: inline-block;
    font-family: 'WenQuanYi Micro Hei Mono', 'WenQuanYi Micro Hei', 'Microsoft Yahei Mono', 'Microsoft Yahei', sans-serif;
    float: right;
}
#content .banner-con ul {
    float: right;
    height: 49px;
    line-height: 49px;
}
#content .banner-con ul li {
    float: left;
    width: 50px;
    text-align: center;
}

#content .listdiv {
    width: 990px;
    margin: 0 auto;
}

#content .listdiv ul li {
    float: left;
    font-size: 0;
}

#content .listdiv ul li a {
    position: relative;
    width: 495px;
    height: 450px;
}
#content .listdiv ul li a span {
    position: absolute;
    top: -183px;
    left: 61px;
    font-size: 16px;
    color: red;
    z-index: 99;
}