/*header START*/
#header .search label,#header .search-button{
	background: url('http://img04.taobaocdn.com/tps/i4/T1avKAXghmXXXXXXXX-220-100.png') no-repeat -1px -1px;
}
#header .wrapper{
	position: relative;
	width: 990px;
}
#logo{
	position: relative;
	float: none;
	padding: 0;
	padding-top: 17px;
	height: 52px;
	width: 990px;
}
#logo a{
	display: block;
	width: 140px;
	height: 41px;
}
#header .search{
	position: absolute;
	top: 19px;
	right: 10px;
	width: 262px;
	height: 27px;
	border: 6px solid #f3f3f3;
}
#header .search label{
	position: absolute;
	top: 5px;
	left: 5px;
	display: block;
	width: 18px;
	height: 18px;
	background-position: -70px -43px;
	z-index: 2;
}
#header .search-key{
	float: left;
	padding: 3px 0;
	width: 204px;
	height: 17px;
	border: 2px solid #b70101;
	border-right: 0;
}
#header .search-button{
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 56px;
	height: 27px;
	border: 0;
	background-position: 0 -40px;
	cursor: pointer;
}
#nav{
	position: relative;
	background-color: #b5011a;
	z-index: 100;
}
/*header END*/
.main-nav .gerenzhongxin,.hot-icon1,.hot-icon2,.xb-buy1,.xb-buy1:hover,.xb-buy2,.xb-buy2:hover,.xb-over,.xb-spoint,.xb-spoint:hover,.xb-icon-qiang,.title-h2,.title-achor,.head-carousel .navpic li,.head-carousel .navpic li.selected,.head-carousel .navpic li.hovered,.xp-tab .focus .triangle,.xsb-get,.xsb-get:hover,.xcb-button{
	background: url('http://img02.taobaocdn.com/tps/i2/T14JOMXjpsXXXXXXXX-300-400.png') no-repeat -210px -235px;
}
/*nav START*/
.main-nav{
	position: relative;
	width: 990px;
}
.main-nav li{
	position: relative;
	float: left;
	height: 35px;
}
.main-nav .num{
	font-size: 11px;
}
.main-nav li a,.main-nav li a:link{
	display: block;
	padding-top: 8px;
	width: 126px;
	height: 27px;
	border-left: 1px solid #a80116;
	font-size: 14px;
	font-weight: bold;
	color: #f8f8f8;
	text-align: center;
	text-decoration: none;
}
.main-nav li a:hover{
	background-color: #93010e;
	text-decoration: none;
}
.main-nav .focus{
	color: #fff;
	background-color: #d8010e;
}
.main-nav li.last a{
	border-right: 1px solid #a80116;
}
.main-nav .right{
	position: relative;
	float: right;
	right: 15px;
}
.main-nav .right a,.main-nav .right a:link{
	margin-top: 5px;
	padding-top: 2px;
	width: 75px;
	line-height: 25px;
	font-size: 12px;
	font-weight: normal;
	border: 0;
}
.main-nav .right a:hover{
	background-color: #f1f1f1;
}
.main-nav .right .hover{
	color: #666;
	background-color: #f1f1f1;
}
.main-nav .menulist{
	*display: block;
	position: absolute;
	top: 34px;
	width: 75px;
	border-top: 1px dotted #fff;
	background-color: #8A8A8A;
	z-index: 100;
}
.main-nav  .menulist.hidden{
	*visibility: hidden;
}
.main-nav .menulist li{
	height: 25px;
}
.main-nav .menulist a,.main-nav .menulist a:link{
	margin: 0;
	padding: 0;
	line-height: 26px;
}
.main-nav .menulist a:hover{
	color: #F8F8F8;
	background-color: #b70727;
}
.hot-icon1,.hot-icon2{
	position: absolute;
	top: -1px;
	right: 1px;
	width: 21px;
	height: 14px;
	background-position: -263px 2px;
	z-index: 10;
}
.hot-icon2{
	right: 11px;
}
/*nav END*/