#site-nav-bd {
    width: 990px;
}

/*header START*/
.slogan {
    width: 990px;
    margin: 0 auto;
}
.slogan .logo {
    float: left;
    margin-top: 19px;
    margin-bottom: 11px;
}
.slogan .logo a{
    background: url('../../src/assets/slogan.png') no-repeat 0 0 transparent;
    display: inline-block;
    width: 120px;
    height: 50px;
}

.slogan .description {
    float: right;
    margin-top: 31px;
}

.slogan .description span {
    background: url('../../src/assets/slogan.png') no-repeat 0 -56px transparent;
    display: inline-block;
    width: 150px;
    height: 23px;
    overflow: hidden;
    text-indent: -9999px;
}

#nav{
	position: relative;
	background-color: #54ab1c;
	z-index: 100;
}
/*header END*/
/*.main-nav .gerenzhongxin,.hot-icon1,.hot-icon2,.xb-buy1,.xb-buy1:hover,.xb-buy2,.xb-buy2:hover,.xb-over,.xb-spoint,.xb-spoint:hover,.xb-icon-qiang,.title-h2,.title-achor,.head-carousel .navpic li,.head-carousel .navpic li.selected,.head-carousel .navpic li.hovered,.xp-tab .focus .triangle,.xsb-get,.xsb-get:hover,.xcb-button{
	background: url('http://img02.taobaocdn.com/tps/i2/T14JOMXjpsXXXXXXXX-300-400.png') no-repeat -210px -235px;
}*/
/*nav START*/
.main-nav{
	position: relative;
	width: 990px;
}
.main-nav li{
	position: relative;
	float: left;
	height: 35px;
}
.main-nav .num{
	font-size: 11px;
}
.main-nav li a,
.main-nav li a:link{
	display: block;
	padding-top: 8px;
	width: 126px;
	height: 27px;
	/*border-left: 1px solid #a80116;*/
	font-size: 14px;
	font-weight: bold;
	color: #f8f8f8;
	text-align: center;
	text-decoration: none;
}
.main-nav li a:hover{
	background-color: #93010e;
	text-decoration: none;
}
.main-nav .focus{
	color: #fff;
	background-color: #d8010e;
}
.main-nav li.last a{
	border-right: 1px solid #a80116;
}
.main-nav .right{
	position: relative;
	float: right;
	right: 15px;
}
.main-nav .right a,
.main-nav .right a:link{
	margin-top: 5px;
	padding-top: 2px;
	width: 75px;
	line-height: 25px;
	font-size: 12px;
	font-weight: normal;
	border: 0;
}
.main-nav .menulist{
	*display: block;
	position: absolute;
	top: 34px;
	width: 75px;
	border-top: 1px dotted #fff;
	background-color: #8A8A8A;
	z-index: 100;
}
.main-nav  .menulist.hidden{
	*visibility: hidden;
}
.main-nav .menulist li{
	height: 25px;
}
.main-nav .menulist a,.main-nav .menulist a:link{
	margin: 0;
	padding: 0;
	line-height: 26px;
}
.main-nav .menulist a:hover{
	color: #F8F8F8;
	background-color: #b70727;
}
.hot-icon1,.hot-icon2{
	position: absolute;
	top: -1px;
	right: 1px;
	width: 21px;
	height: 14px;
	background-position: -263px 2px;
	z-index: 10;
}
.hot-icon2{
	right: 11px;
}
/*nav END*/