/*header START*/
.slogan .logo a,
.slogan .description span,
.right .seller-signup,
.right .buyer-notice {
    background: url('../../src/assets/slogan.png') no-repeat 0 0 transparent;
}
.slogan,
.nav {
    width: 990px;
    margin: 0 auto;
}
.slogan .logo {
    float: left;
    margin-top: 19px;
    margin-bottom: 11px;
}
.slogan .logo a{
    background-position: 0 0;
    display: inline-block;
    width: 120px;
    height: 50px;
}

.slogan .description {
    float: right;
    margin-top: 31px;
}

.slogan .description span {
    background-position: 0 -56px;
    display: inline-block;
    width: 150px;
    height: 23px;
    overflow: hidden;
    text-indent: -9999px;
}

.navbar{
	background-color: #54ab1c;
    height: 32px;
    border-top: 3px solid #f0f0f0;
}
.nav li{
	position: relative;
	float: left;
	height: 32px;
}
.nav li.divider-vertical {
    width: 1px;
    margin: 11px 0 12px 0;
    height: 9px;
    background-color: #9fd57d;
}
.nav li a,
.nav li a:link{
	display: inline-block;
	padding: 7px 22px 7px 22px;
	height: 18px;
	line-height: 18px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
.nav li a:hover{
	text-decoration: none;
    color: red;
}
.nav .active{
	color: #fff;
}

.nav .right{
	position: relative;
	float: right;
}
.nav .right a,
.nav .right a:link{
	font-size: 12px;
	font-weight: normal;
}
.nav .right .seller-signup {
    background-position: -120px 11px;
    padding-left: 35px;
}
.nav .right .buyer-notice {
    background-position: -136px -22px;
}

/*nav END*/